[Unit]
Description=Start psplash-systemd progress communication helper
DefaultDependencies=no
After=systemd-start.service
Requires=psplash-start.service
After=psplash-start.service
RequiresMountsFor=/run

[Service]
ExecStart=/usr/bin/psplash-systemd
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
